footer{
    background-color: $blogFooterBackground;
    
    .stayUpdated{
        width: 50%;
    }

    .footerFlexContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 80px 0;
    }

    .footerContactNav{
        display: flex;
        flex-direction: row;
    }

    .contactFooter{
        margin-right: 100px;
    }

    .footerHeading{
        padding-bottom: 7px;
    }

    .emailField {
        font-family: $baseFont;
        width: 70%;
        padding: 10px;
    }

    .subscribeButton {
    background-color:  $charcoal;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
}

.footerNav>ul {
    margin-top: 0;

    li {
        margin-bottom:  5px;
    }
}

    .copyright {
        text-align: center;
        background-color: $charcoal;
        padding: 5px 0;
    }

}
