$charcoal: #2c2d2c;
$deepGreen: #116500;
$white: #fff;
$blogFooterBackground: #213c28;
$aboutBackground: #D6f1E4;
$baseFont: 'Barlow', 'Comic Sans', cursive;

header,
.blog
footer {
    color: $white;
}

.headerNav{

}