$charcoal: #2c2d2c;
$deepGreen: #116500;
$white: #fff;
$blogFooterBackground: #213c28;
$aboutBackground: #D6f1E4;
$baseFont:  'Barlow', sans-serif;
$secondaryFont: 'Offside', cursive;


h1,
.headerNav,
.bodyText {
    font-family: $baseFont;
}

.headerHome,
h2,
.readMore,
.links,
.footerNav,
.stayUpdated,
.footerHeading {
        font-family: $secondaryFont;
        margin: 0;
}

h1{
    line-height: 63.7px;
    letter-spacing: 0.8px;
    font-weight: 400;
    font-size: 4.3rem;
    color: $white;
    margin: 0;
    width: 45%;
}

.headerNav{
    font-size: 1.25rem;
    color: $white;
}

.navLinks{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 29px;
    text-shadow: 2px 4px 6px #000000;

    li{
        padding: 0 30px;
    }
}


.headerHome{
    font-size: 1.25rem;
    line-height: 20px;
    width: 10%;
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

.aboutHeader,
.moreAboutHeader{
    color: $deepGreen;
    font-size: 42px;
    font-weight: 400;

}

.bodyText{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 30px;
    letter-spacing: 0.2px;
}
.blogArticleContainer {
    color: $white;
}

h3{
    color: $deepGreen;
    font-weight: 400;
    font-size: 1.7rem;
}

footer{
    color: $white;

    h4{
        font-weight: 400;
        font-size: 1.3rem;
    }

    .subscribeButton {
        font-family: $secondaryFont;
        text-transform: uppercase;
        color: $white;
    }

    .footerNav {
        font-size: 1.25rem;
        text-align: end;
    }
}

